<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://{{ host }}/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#chat').submit(function(e) {
                var message = $('#msg').val();
                $.ajax({
                    url: '/sendmessage',
                    type: 'POST',
                    dataType: 'json',
                    data: {message: message},
                    success: function() {
                        $('#msg').val('');
                    }
                });
                e.preventDefault();
            });
            window.setInterval(function() {
                $.ajax({
                    url: 'getmessage',
                    type: 'POST',
                    dataType: 'json',
                    data: {},
                    success: function(response) {
                        if ( response.status == 'fail' ) {

                        } else {
                            $('ul').prepend('<li>' + response.message + '</li>');
                        }
                    }
                });
            }, 1000);
        });
    </script>
</head>
<body>
    <div id="chat_field">
        <ul>
            <li>Hello!</li>
        </ul>
    </div>
    <div id="users"></div>
    <form id="chat">
        <input id="msg" type="text" name="message"/>
        <input type="submit"/>
    </form>
</body>
</html>