<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Enter th chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <h1>Python web chat</h1>

    <form method="POST" action="http://{{ host }}/auth">
        <label for="login-field">Login: </label><input id="login-field" name="login" type="text"/>
        <label for="password-field">Password: </label><input id="password-field" name="password" type="password"/>
        <input type="submit"/>
    </form>
    <p id="warning">{{ warning }}</p>
    <a href="http://{{ host }}/register">Register</a>
</body>
</html>