<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <form id="create-channel" action="http://{{ host }}/create" method="POST">
        <label for="create-ch">Create channel: </label><input type="text" id="create-ch" name="channel-name"/>
        <input type="submit" value="create"/>
    </form>
    <form id="connect-channel" action="http://{{ host }}/connect" method="POST">
        <label for="connect-ch">Connect to channel: </label><input type="text" id="connect-ch" name="channel-name"/>
        <input type="submit" value="connect"/>
    </form>
</body>
</html>