<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css"/>s
</head>
<body>
    <h1></h1>
    <form action="http://{{ host }}/reguser" method="POST">
        <label for="reg-login">Login: </label><input type="text" id="reg-login" name="login"/>
        <label for="reg-pass">Password: </label><input type="text" id="reg-pass" name="password"/>
        <input type="submit" value="reg user"/>
    </form>
</body>
</html>
